$black-900: #151619;
$black-800: #1d1f22;
$black-700: #2b2d31;
$black-600: #35393f;
$gray-500: #5a6069;
$gray-400: #7c8187;
$gray-300: #c1c4cb;
$gray-200: #e4e4e4;
$gray-100: #f5f5f5;
$orange-500: #e46643;
$orange-400: #f39765;
