@import "colors";

.document-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding: 8px 10px;
  cursor: pointer;
  &:hover {
    background-color: $black-700;
  }
}

.active {
  background-color: $black-700;
}

.file-icon {
  margin-right: 1rem;
}

.doc-details {
  overflow: hidden;
  white-space: nowrap;
  max-width: 180px;
  .doc-date {
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 14px;
    color: $gray-400;
  }

  .doc-title {
    font-size: 15px;
  }
}
